@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:900);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,500);



* {
	margin:0;
	padding:0;
}


body {

	background-image: linear-gradient(rgba( 0, 0, 0, 0.5), rgba( 0, 0, 0, 0.5)), url('/img/recordplayer.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background: linear-gradient();
	
}

/* .img-bg {
	height: 1000px;
	width: auto;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#img1 {
	background-image: url('/img/recordplayer.jpg');
	
} */

.content h1 {
	position:absolute;
	top: 30%;
	left:50%;
	margin-right: -50%;
	transform: translate(-50%, 50%);
	color: #fff;
	text-transform: uppercase;
	/* text-shadow: 2px 2px #000; */
	font-family: 'Poiret One', cursive;
	font-size: 50px;
}

.content button {
	position:absolute;
	top: 50%;
	left:50%;
	margin-right: -50%;
	transform: translate(-50%, 50%);
	background: none;
	border: solid #fff 1px ;
	padding: 20px;
	color: #fff;
	font-size: 20px;
	font-family: Fira Sans, sans-serif;
	text-transform: uppercase;	
	text-shadow: none;
	font-weight: bold;




}



.navbar-brand {
	color: #fff;
	font-family: 'Fira Sans', sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	
}

.table {
	margin-top: 10%;
	background-color: #000;
	background: rgba(0,0,0,0.7);

}

.title, .topic-title {
	color: white;
	text-align: center;
/* 	text-transform: uppercase;
 */	font-family: Fira Sans, sans-serif;
}

td a {
	color: #fff;
	font-family: Fira Sans, sans-serif;
	font-size: 17px;
	font-weight: bold;
}

td a:hover {
	color: #fff;

}

.topics tr th{
	border-bottom: 1px #fff solid;
	border-top: none;
	text-align: left;
	font-size: 15px;
	color: #fff;

}

.comments {
	margin-left: 25%;
}

.comments tr th {
	border-bottom: 1px #fff solid;
	border-top: none;
	text-align: left;
	font-size: 15px;
	color: #fff;

}

input, button {
	border: solid #fff 1px ;
	padding: 10px;
	color: #fff;
	/* text-shadow: 2px 2px #000; */
	background:none;

}

#cancel {
	margin-left: 46.5%;
	text-transform: uppercase;
}

#delete {
	margin-left: 46.5%;
	margin-top: 3%;
	text-transform: uppercase;
}

#home {
	padding: 20px 50px;
	text-transform: uppercase;
	font-family: Fira Sans, sans-serif;
	font-size: 20px;

}


td {
	color: #fff;
}

.input-wrap p {
	color: #fff;
	font-family: Fira Sans, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
}

.form-control {
	text-shadow: none;
	background-color: #000;
	background: rgba(0,0,0,0.7) !important;
	border: solid #fff 1px !important;
	color:  #fff !important;
	border-radius: 0 !important;
}

.new-comment, .edit-comment {
	margin-top: 10%;
}




