<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<title>Forum</title>
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./css/bootstrap-responsive.css">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
<div class="navbar-brand"><h1>Music Forum</h1></div>
</div>
<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Your Voice <span class="glyphicon glyphicon-music"></span> Your Music</h1>

				<form action="/topics" method="GET" >
					<button type="submit">Check Out The Latest Topics</button>
				</form>
			</div>
		</div>
	</div>
</div>



</div>
</body>
<script src='/bower_components/jquery/dist/jquery.js'></script>
</html>